# In all directories
*.o
*.a
*.lo
*.la
*.cache
*~
Makefile
Makefile.in

# In main directory
.vscode/c_cpp_properties.json
build/*
!build/README.md
build-aux/
m4/
aclocal.m4
autoscan.log
config.h.in
configure
